<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Lorand Kallai" />
  <meta name="description" content="Supplier Quality Documents" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="html,html5,web development" />
  <title>PPM Supplier Quality Database</title>
  <link rel="icon" href="img/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css"/>
  <link rel="stylesheet" href="css/overwrites.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="img/LinamarLogo.png" class="img-fluid" style="max-width: 150px" alt="Responsive image">
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/beszallitok">Beszállítók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tanusitvanyok">Tanusítványok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/psw">PSW-k</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ppap">PPAP-ok</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Határidős feladatok
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="docs.html">Hamarosan lejáró dokumentumok</a>
            <a class="dropdown-item" href="/actionplans">Action planek</a>
            <a class="dropdown-item" href="meetingminutes.html">Meeting minutes</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>
<script>
$(document).ready( function () {
    $('#example2').DataTable({
        dom: 'lBfrtip',
        "pageLength": 10,
        initComplete: function () {
            this.api().columns().every(function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });
        },
        buttons: [
        'excel', 'pdf', 'print'
        ],
        language: {
              sEmptyTable: "Nincs rendelkezésre álló adat",
              sInfo: "Találatok: _START_ - _END_ Összesen: _TOTAL_",
              sInfoEmpty: "Nulla találat",
              sInfoFiltered: "(_MAX_ összes rekord közül szűrve)",
              sInfoPostFix: "",
              sInfoThousands: " ",
              sLengthMenu: "_MENU_ találat oldalanként",
              sLoadingRecords: "Betöltés...",
              sProcessing: "Feldolgozás...",
              sSearch: "Keresés:",
              sZeroRecords: "Nincs a keresésnek megfelelő találat",
              oPaginate: {
                  sFirst: "Első",
                  sPrevious: "Előző",
                  sNext: "Következő",
                  sLast: "Utolsó"
              },
              oAria: {
                  sSortAscending: ": aktiválja a növekvő rendezéshez",
                  sSortDescending: ": aktiválja a csökkenő rendezéshez"
              },
              select: {
                  rows: {
                      _: "%d sor kiválasztva",
                      0: "",
                      1: "1 sor kiválasztva"
                  }
              },

              buttons: {
                  print: "Nyomtatás",
                  extend: 'excel',
                  text: 'Save current page',
                  exportOptions: {
                  modifier: {
                    page: 'current'
                    }
                  },
                  colvis: "Oszlopok",
                  copy: "Másolás",
                  copyTitle: "Vágólapra másolás",
                  copySuccess: {
                      _: "%d sor másolva",
                      1: "1 sor másolva"
                  }
              }
            }
    }

    );
    $(".buttons-excel, .buttons-pdf, .buttons-print").removeClass("btn-secondary").addClass("btn-success");
    $('div#example2_filter').find('LABEL').attr('style', 'display:flex;')
});
</script>
<p>összesítő diagram hogy miből mennyi van az adatbázisban <br> pl 28 beszállító, 250 kontakt, 25 érvényes PSW 3 lejárt, <br> 55 PPAP , kördiagramban hogy 28 elfogadott, 5 feltételesen elfogadott, 2 visszautasított</p>
  <footer id="footer" class="container-fluid bg-light">
    <div class="row">
        <p>Linamar PPM</p>
    </div>
  </footer>
</body>
</html>